<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
   <clear />
    <add key="OSS_All" value="https://1ossmsft.pkgs.visualstudio.com/DefaultCollection/_packaging/OSS_ALL/nuget/v3/index.json" />
    <add key="SQL-Toolset" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQL_Toolset/nuget/v3/index.json" />
    <add key="SQLIS-AA" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLIS_AA/nuget/v3/index.json" />
    <add key="MSBlox" value="https://msblox.pkgs.visualstudio.com/DefaultCollection/_packaging/All/nuget/v3/index.json" />
    <add key="CIQS" value="https://msdata.pkgs.visualstudio.com/_packaging/CIQS/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>